
body{
    position: relative;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
body *{
    transition: 0.5s;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0,0.6);
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
}
.logo{ 
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin: 10px; 
}
.header_area{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin: 0 auto;
    padding-top: 12px;
}
.header_area div{
    display: flex;
    justify-content: center;
    align-items: center;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    color: #dc2323;
}
.start_div{
    width: 100%;
    height: 800px;
    position: relative;
}
.start_div img{
    width: 100%;
    height: 800px;
}
.second_menu{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin: 0 auto;
    background-color: rgb(0, 0, 0,0.6);
}
.second_menu a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0px 10px;
    z-index: 9;
}
.second_menu a:hover{
    color: #dc2323;
}
.red_line{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #dc2323;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.red_line p{
    text-align: center;
    width: 400px;
}

.title{
    padding-top: 30px;
}

.text{
    text-align: left;
}

.main_card{
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    color: white;
    padding-bottom: 20px;
}
.main_card img{
    width: 1000px;
    margin: 40px 0px 20px 0px;
}
.main_card h1{
    display: block;
    font-size: 3rem;
}
.main_card h2{
    font-size: 2rem;
}
.main_card p{
    font-size: 1.8rem;
    width: 90%;
    margin: 0px auto;
    padding: 30px;
}
.main_card a{
    display: inline-block;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 20px;
}
.main_card a:hover{
    background-color: white;
    color: #dc2323;
}
.main_red{
    background-color: #dc2323;
}
.main_orange{
    background-color: #e13c29;
}
.main_3{
    background-color: #d95115;
}
.main_4{
    background-color: #d47019;
}
.main_5{
    background-color: #ffb300;
}
.main_purple{
    background-color: #5b61ff;
}
.main_purple h1{
    display: inline-block;
    margin: 10px 0px 0px 0px;
    font-size: 2.5rem;
}
.main_6{
    background-color: #c8671c;
}
footer{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #554b4b;
}
footer p{
    font-size: 1.3rem;
    color: white;
}
footer span{
    font-size: 1.5rem;
}
.btn-up {
    opacity: 0.5;
    /* фиксированное позиционирование */
    position: fixed;
    /* цвет фона */
    background-color: #a82d2d;
    /* расстояние от правого края окна браузера */
    right: 20px;
    /* расстояние от нижнего края окна браузера */
    bottom: 0;
    /* скругление верхнего левого угла */
    border-top-left-radius: 8px;
    /* скругление верхнего правого угла */
    border-top-right-radius: 8px;
    /* вид курсора */
    cursor: pointer;
    /* отображение элемента как flex */
    display: flex;
    /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
    align-items: center;
    /* выравниваем элементы внутри элемента по центру вдоль главной оси */
    justify-content: center;
    /* ширина элемента */
    width: 60px;
    /* высота элемента */
    height: 50px;
  }
  
  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
  
  .btn-up_hide {
    display: none;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        opacity: 0.9;
      background-color: #a82d2d; /* цвет заднего фона при наведении */
    }
  }
  .form{
    padding-top: 295px;
    display: inline-flex;
    flex-direction: column;
    margin-left:800px;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
  .form1{
    display: inline-flex;
    flex-direction: column;
    margin-left:100px;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.form3{
    padding-top: 85px;
    display: inline-flex;
    flex-direction: column;
    margin-left:800px;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
label{
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn{
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 22px;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
}
.button{
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 22px;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
}
.button1{
    text-decoration: none;
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 10px 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.acc{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.9s ;
}
.acc:hover{
    border-bottom: 2px solid black;
}
.msg{
    position: absolute;
    border: 2px solid black;
    padding: 10px 30px ;
    font-size: 20px;
    text-align: center;
    margin-top: 400px;
}
.msg1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.vt1{
    margin-bottom: 30px;
}
.vt{
    margin-bottom: 30px;
    font-size: 20px;
}
.info-profil{
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 420px;
    font-size: 22px;
}
.name{
    margin-top: 10px;
}
.surname{
    margin-top: 10px;
}
.email{
    margin-top: 10px;
}
.exit1{
    text-align: center;
    margin-bottom: 297px;
    padding-top: 50px ;
}
.exit{
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: black;
}
.alert{
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 500px;
    margin-bottom: 385px;
    font-size: 22px;
}
.cart-container{
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 200px;
    margin-bottom: 50px;
    font-size: 22px;
}
.product-name{
    font-size: 40px;
    margin-top: 30px;
}
.product-quantity{
    margin-top: 40px;
}
.product-price{
    margin-top: 20px;
}
.del{
    margin-top: 20px
}
.cart-total{
    margin-bottom: 50px;
}
.cart-item{
    margin-bottom: 100px;
}
.zak{
    text-align: center;
    margin-bottom: 313px;  
}
.zakazat{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #5b61ff;
    padding: 10px 40px;
    font-size: 22px;
    border-radius: 20px;
}
.center{
    text-align: center;
    padding-top: 200px;
    margin-right: 100px;
    font-size: 20px;
}